
/*Temp Info*/

.info {
    position: fixed;
    background: #666;
    color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
    top: -100px;
    opacity: 0;
}

.info:not(:empty) {
     animation: fade 5s;
}

@keyframes fade {
    0% {
        top: -100px;
        opacity: 0;
    }

    10% {
        top: 100px;
        opacity: 1;
    }

    90% {
        top: 100px;
        opacity: 1;
    }

    100% {
        top: -100px;
        opacity: 0;
    }
}

/*Test*/
.pickup-container {
    width: 60%;
    margin: auto;
    font-family: Arial;
}

.section-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    background: #fafafa;
}

    .section-box h3 {
        margin-bottom: 10px;
        color: #333;
    }

    .section-box label {
        font-weight: bold;
        display: block;
        margin-top: 15px;
    }

    .section-box input,
    .section-box textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
    }

.btn-save {
    background: #0066ff;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
}

    .btn-save:hover {
        background: #004ec2;
    }

