
/*Temp Info*/

.info {
    position: fixed;
    background: #666;
    color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
    top: -100px;
    opacity: 0;
}

.info:not(:empty) {
     animation: fade 5s;
}

@keyframes fade {
    0% {
        top: -100px;
        opacity: 0;
    }

    10% {
        top: 100px;
        opacity: 1;
    }

    90% {
        top: 100px;
        opacity: 1;
    }

    100% {
        top: -100px;
        opacity: 0;
    }
}

/*Test*/
.pickup-container {
    width: 60%;
    margin: auto;
    font-family: Arial;
}

.section-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    background: #fafafa;
}

.section-box h3 {
    margin-bottom: 10px;
    color: #333;
}

.section-box label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

.section-box input,
.section-box textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.btn-save {
    background: #0066ff;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
}

.btn-save:hover {
    background: #004ec2;
}

/* Form ----------------------------------------------------------------------- */

label > * {
    vertical-align: text-top;
}

.form {
    display: grid;
    grid: auto / auto auto auto;
    gap: 5px;
    place-content: start;
    place-items: center start;
}

.form > label:not(:has(*)) {
    background: #ccc;
    font-weight: bold;
    padding: 5px;
    place-self: stretch;
}

.form > section,
.validation-summary-valid,
.validation-summary-errors {
    grid-column: 1 / -1;
}

.validation-summary-valid ul,
.validation-summary-errors ul {
    margin: 0;
}

.field-validation-error,
.validation-summary-errors {
    color: red;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(32px);
}

.toggle-row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}

.condition-msg {
    font-weight: bold;
}

.condition-msg.ok {
    color: green;
}

.condition-msg.not-ok {
    color: red;
}


/*Rental  History*/
.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #f8f9fa;
}
